<div class="interactive-wrapper">

<div class="interactive-container offset">
    <div class="row">
	    <div class="main-col">
	            <div class="row figureTitle">How closely related <span id="currentDog"></span> to other breeds?</div>
	            <div class="row subTitle">This is the dog subtitle which explains things</div>	
	    
                <div class="controls notes">
                    <div class="col30">    
                        <div class="row ">View by breed</div>
                        <div><select id="breedSelector"></select></div>
                    </div>    
                </div>

                <div class="controls notes">
                    <div class="col30">    
                        <div class="row ">View by group</div>
                        <div><select id="groupSelector"></select></div>
                    </div>    
                </div>    

                <div class="controls notes">
                    <div class="col40">
                        <div class="row ">Relatedness index*</div>
                        <div id="chartKey"></div>    
                    </div>    
                </div>    
        </div>    
        </div>
    </div>
    
    <div id="graphicContainer">
            <div id="infoButton">

            </div>    
   <!--          <div id="infoPanel">
                <div class="infoInner">
                    <h3>Information</h3>
                    <p>Click or tap a dog or link to see more information</p>
                </div>
            </div> -->
            <div id="statusMessage" class="btn">Loading...</div>
    </div>

    <div class="row notes">
        <!-- <div class="main-col">
            <div class="row">
                Source: <a href="https://www.resourcesandenergy.nsw.gov.au/landholders-and-community/coal-seam-gas/facts-maps-links/map-of-csg-wells" target="_blank">NSW Government<a>, <a href="https://data.qld.gov.au/dataset/queensland-borehole-series/resource/f0f7a339-2c08-4d85-a891-0f24b91384f2" target="_blank">QLD Government</a>
            </div>
        </div> -->
    </div>
</div>

</div>